@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
}

.nav-item {
  @apply text-sm 
text-dark-gray
  hover:text-secoundry
  font-medium
  transition-all
  duration-300
  cursor-pointer
  relative
  after:h-[2px] 
  after:w-8 
  hover:after:bg-secoundry 
  after:transition-all
  after:duration-300
  after:absolute 
  after:bottom-0 
  after:left-[50%] 
  after:-translate-x-1/2 
  after:translate-y-[2px] 
  after:justify-center 
  after:flex 
  after:rounded-full;
}

.nav-icon-button {
  @apply text-lg text-dark-gray relative;
}

.badge {
  @apply flex 
  justify-center 
  items-center
  w-4 
  h-4 
  text-[9px] 
  bg-primary 
  rounded-full 
  absolute 
  -top-2 
  -right-2;
}

.bottom-nav-bar {
  @apply absolute sm:hidden bottom-0 w-full bg-white flex justify-between shadow-bottom-nav;
  /* box-shadow: 0 -2px 5px rgb(0 0 0 / 7%); */
}

.bottom-nav-button {
  @apply flex flex-col justify-center items-center text-light-gray p-4;
}

.bottom-nav-icon {
  @apply text-xl;
}

.botton-nav-title {
  @apply text-xs;
}
